.card {
    border-radius: var(--radius-3);
    //border-radius: var(--mat-sys-corner-large);
    background-color: var(--mat-sys-surface-container);
    padding: var(--size-4);
    padding: var(--size-fluid-3);
    box-shadow: var(--shadow-2);
    flex-basis: var(--size-content-1);
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    background: var(--surface-3);
    border: 1px solid var(--surface-1);

    &:hover {
        box-shadow: var(--shadow-3);
    }

    &__header {
        width: 100%;
        display: flex;
    }

    &__title {
    }

    &__content {
    }

    &__footer {
    }
}
