.table-toolbar-container {
    height: var(--mat-form-field-container-height);
    width: 100%;
    border-radius: var(--mat-sys-corner-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    &--inside-table-container {
        border-bottom: 1px solid var(--mat-sys-outline);
        border-radius: var(--mat-sys-corner-none);
        padding: 0 16px;
    }

    .filter-wrapper,
    .actions-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.table-and-paginator-container {
    margin-bottom: 16px;
    //border: 1px solid var(--mat-sys-outline-variant);
    border: 1px solid var(--mat-sys-outline);
    border-radius: var(--mat-sys-corner-extra-small);
    background-color: var(--mat-sys-surface);
    overflow: hidden;
}

.table-container {
    width: 100%;
    max-height: 65vh;
    overflow: auto;

    &--bordered {
        border: 1px solid var(--mat-sys-outline);
        border-radius: var(--mat-sys-corner-extra-small);
        background-color: var(--mat-sys-surface);
        overflow-x: auto;
    }

    &--mb {
        margin-bottom: 16px;
    }

    .table {
        width: 100%;

        &__cell {
            .image-text-wrapper {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            // 单元格自身的 padding
            //padding: 8px;
            // 如果需要对单元格内的缩略图进行布局调整 (例如居中)
            &--image {
                /* 针对图片列的特定 Element Modifier */
                text-align: center;
            }

            &--input {
                border: 1px solid var(--mat-sys-outline-variant);
                background: var(--mat-sys-surface);
                padding: 0 8px;
                border-radius: 4px;
                font-size: 14px;
                line-height: 32px;
                height: 32px;
                width: 100%;

                &:focus {
                    border-color: var(--mat-sys-primary);
                }

                &.ng-invalid.ng-touched {
                    border-color: var(--mat-sys-error);
                }
            }
        }
    }
}
