.table-toolbar-container {
    height: var(--mat-form-field-container-height);
    width: 100%;
    border-radius: var(--mat-sys-corner-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions-wrapper {
        display: flex;
        gap: var(--size-3);
    }
}

.table-container {
    width: 100%;
    border-radius: var(--mat-sys-corner-medium);
    padding: var(--size-3);
    background-color: var(--mat-sys-surface);
    overflow-x: auto;

    .table {
        width: 100%;

        &__cell {
            // 单元格自身的 padding
            //padding: 8px;
            // 如果需要对单元格内的缩略图进行布局调整 (例如居中)
            &--image {
                /* 针对图片列的特定 Element Modifier */
                text-align: center;
            }

            .image-text-wrapper {
                display: flex;
                align-items: center;
                gap: var(--size-2);
            }
        }
    }
}
