.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }

    &__brand {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &-logo {
        }

        &-title {
        }
    }

    &__toggle {
    }

    &__menu {
        flex: 1;
        overflow-y: auto;
    }

    &--collapsed {
        width: 64px;

        .sidebar__brand-title {
            opacity: 0;
            width: 0;
            text-decoration: none;
        }

        .sidebar__toggle {
            opacity: 0;
            pointer-events: none;
            text-decoration: none;
        }
    }
}
