<aside>
    <div class="flex items-center justify-center gap-2 px-4">
        <span>😊</span>
        <span class="hide-header-element flex items-center gap-2" [class.hide-header-element]="isCollapsed()">
            <span>Shop Admin</span>
            <button matIconButton type="button" (click)="toggleCanCollapse()">
                <mat-icon [style.transform]="canCollapse() ? 'rotate(90deg)' : 'rotate(-90deg)'">
                    expand_circle_down
                </mat-icon>
            </button>
        </span>
    </div>
    <mat-nav-list>
        @for (item of menuItems(); track item) {
            <sa-side-menu-item [item]="item" />
        }
    </mat-nav-list>
</aside>
