.sidebar {
    display: flex;
    flex-direction: column;

    &__top {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        z-index: 1;
        background-color: var(--mat-sys-tertiary-container);
    }

    &__brand {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &-logo {
        }

        &-title {
        }
    }

    &__toggle {
        margin-left: auto;
    }

    &__menu {
        flex: 1 1 auto;
        margin: 8px;
    }

    &--collapsed {
        .sidebar__brand-title {
            opacity: 0;
            width: 0;
            text-decoration: none;
        }

        .sidebar__toggle {
            opacity: 0;
            pointer-events: none;
            text-decoration: none;
        }
    }
}
