<h2 mat-dialog-title>品牌</h2>
<mat-dialog-content>
    <form [formGroup]="brandForm">
        <mat-form-field>
            <mat-label>品牌名称</mat-label>
            <input matInput formControlName="name" placeholder="请输入品牌名称" />
        </mat-form-field>
        <app-upload
            uploadType="drag-drop"
            previewWidth="100%"
            previewHeight="12rem"
            [(fileList)]="mediaList"
            [maxFiles]="1"
        />
        <mat-slide-toggle formControlName="visible">买家是否可见</mat-slide-toggle>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="elevated" mat-dialog-close type="button">取消</button>
    <button matButton="filled" [mat-dialog-close]="true" [disabled]="brandForm.invalid" type="button" (click)="save()">
        确定
    </button>
</mat-dialog-actions>
