.top-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // Avoids horizontal scrollbars on smaller screens.
    overflow: hidden;

    .config-buttons {
        display: flex;
        align-items: center;
    }
}
