<div class="flex h-full w-full max-w-lg items-center justify-center rounded-sm border-1 border-solid p-4">
    @if (file()) {
        <div class="flex gap-2">
            @if (file()?.path) {
                <img [ngSrc]="file()!.path ?? '/image-not-found.jpeg'" width="80" height="80" alt="image" />
            }

            <p>{{ file()?.name }} - {{ file()?.status }}</p>
            <mat-progress-bar mode="determinate" [value]="file()?.percentage"></mat-progress-bar>
            @if (file()?.status === 'UPLOADING') {
                <button mat-button type="button" (click)="cancelUpload()">取消</button>
            }
        </div>
    }
</div>
