<app-page-header>添加/编辑商品选项</app-page-header>
<form [formGroup]="customOptionForm">
    <mat-card appearance="outlined">
        <mat-card-content class="custom-option-form">
            <mat-form-field>
                <mat-label>名称</mat-label>
                <input matInput type="text" formControlName="name" />
            </mat-form-field>

            @if (CUSTOM_OPTION_TYPE_OPTIONS.length > 1) {
                <!-- 目前默认只有CHOICE选项类型,所以隐藏此选项 -->
                <mat-form-field>
                    <mat-label>类型</mat-label>
                    <mat-select formControlName="type">
                        @for (customOptionType of CUSTOM_OPTION_TYPE_OPTIONS; track customOptionType) {
                            <mat-option [value]="customOptionType">{{ customOptionType }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }
            @if (['TEXT_INPUT', 'FILE_UPLOAD'].includes(customOptionForm.get('type')?.value ?? '')) {
                <mat-form-field>
                    <mat-label>价格调整(¥)</mat-label>
                    <input matInput [appDecimalPlaces]="2" type="text" formControlName="priceAdjustment" />
                    <mat-icon matSuffix>currency_yen</mat-icon>
                    @if (customOptionForm.get('priceAdjustment')?.hasError('pattern')) {
                        <mat-error>请输入有效的数字</mat-error>
                    }
                    @if (customOptionForm.get('priceAdjustment')?.hasError('min')) {
                        <mat-error>不能为小于0</mat-error>
                    }
                </mat-form-field>
            } @else {
                <div class="table-container table-container--bordered table-container--mb">
                    <div class="table-toolbar-container table-toolbar-container--inside-table-container">
                        <h3>选项值列表</h3>
                        <button matButton type="button" (click)="addCustomOptionValue()">添加选项值</button>
                    </div>
                    <table mat-table [dataSource]="dataSource" formArrayName="values" class="table">
                        <ng-container matColumnDef="value">
                            <th *matHeaderCellDef mat-header-cell>标签/值</th>
                            <td *matCellDef="let row; let i = index" mat-cell [formGroupName]="i">
                                <input matInput type="text" formControlName="value" class="table__cell--input" />
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="label">
                            <th *matHeaderCellDef mat-header-cell>标签(可选)</th>
                            <td *matCellDef="let row; let i = index" mat-cell [formGroupName]="i">
                                <input matInput type="text" formControlName="label" class="table__cell--input" />
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="priceAdjustment">
                            <th *matHeaderCellDef mat-header-cell>价格调整(¥)</th>
                            <td *matCellDef="let row; let i = index" mat-cell [formGroupName]="i">
                                <input
                                    matInput
                                    type="text"
                                    [appDecimalPlaces]="2"
                                    formControlName="priceAdjustment"
                                    class="table__cell--input"
                                />
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
                    </table>
                </div>
                <mat-slide-toggle formControlName="multiple">是否支持多选</mat-slide-toggle>
            }
            <mat-slide-toggle formControlName="required">是否必须(或必填)</mat-slide-toggle>
        </mat-card-content>
        <mat-card-actions>
            <button matButton="filled" type="button" (click)="save()" [disabled]="customOptionForm.invalid">
                保存
            </button>
            <button matButton="tonal" type="button" (click)="goBack()">取消</button>
            <button matButton="elevated" type="button">重置</button>
        </mat-card-actions>
    </mat-card>
</form>
