.table-card {
    &__header {
        width: 100%;
        display: flex;
        align-items: baseline;
    }

    &__filters {
    }

    &__actions {
        display: flex;
        gap: 8px;
    }

    &__content {
    }

    &__table {
        th,
        td {
            //padding: spacing(sm);
            //vertical-align: middle;
        }

        th {
            font-weight: 600;
            color: var(--mat-on-surface-variant);
        }
    }

    &__col--image {
        position: relative;
        padding: 8px;
        text-align: center;

        .table-card__image-wrapper {
            position: relative; /* 重要：为 fill 提供定位上下文 */
            width: 48px;
            height: 48px;
            border-radius: 2%;
            overflow: hidden;
            box-shadow: var(--mat-elevation-1);
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .table-card__cell-image {
        }
    }

    &__paginator {
    }
}

.spacer {
    flex: 1 1 auto;
}
