<app-page-header>商品管理</app-page-header>
<div class="table-toolbar-container">
    <form [formGroup]="searchForm">
        <mat-form-field>
            <mat-label>商品名称</mat-label>
            <input matInput formControlName="name" placeholder="商品名称" />
            <button matIconButton matSuffix type="button" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="actions-wrapper">
        <button
            matButton="tonal"
            appConfirm
            message="确定要批量删除选中的商品吗?"
            type="button"
            [disabled]="selection.isEmpty()"
            (confirmed)="deleteSelected()"
        >
            批量删除
        </button>
        <a matButton="filled" [routerLink]="['/catalog/products/new']">新增</a>
    </div>
</div>
<div class="table-and-paginator-container">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table" aria-label="products">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox
                        (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                    />
                </th>
                <td *matCellDef="let row" mat-cell>
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                    />
                </td>
            </ng-container>

            <!-- Id  -->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell>Id</th>
                <td *matCellDef="let row" mat-cell>{{ row.id }}</td>
            </ng-container>

            <!-- name  -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>商品</th>
                <td *matCellDef="let row" mat-cell class="table__cell">
                    <div class="image-text-wrapper">
                        @if (row.mainMediaPath) {
                            <div class="thumbnail">
                                @if (row.mainMediaPath) {
                                    <img [ngSrc]="row.mainMediaPath" fill class="thumbnail__img" alt="product image" />
                                }
                            </div>
                        }
                        <span>{{ row.name }}</span>
                    </div>
                </td>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell>操作</th>
                <td *matCellDef="let row; index as i" mat-cell>
                    <button mat-icon-button [routerLink]="['/catalog/products', row.id, 'edit']" type="button">
                        <mat-icon>edite</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        appConfirm
                        message="确定要删除该商品吗?"
                        type="button"
                        (confirmed)="delete(row.id)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
            <tr *matNoDataRow>
                <td>暂无数据</td>
            </tr>
        </table>
    </div>
    <mat-divider />
    <mat-paginator
        #paginator
        aria-label="Select page"
        (page)="onPageEvent($event)"
        [pageIndex]="paginatorProps().pageIndex"
        [pageSize]="paginatorProps().pageSize"
        [length]="totalElements()"
    />
</div>
