<app-page-header>品牌管理</app-page-header>
<div class="table-toolbar-container">
    <form [formGroup]="searchForm" class="filter-wrapper">
        <mat-form-field>
            <mat-label>品牌名称</mat-label>
            <input matInput formControlName="name" placeholder="品牌名称" />
        </mat-form-field>
        <button matButton="tonal" type="button" (click)="search()">搜索</button>
    </form>
    <div class="actions-wrapper">
        <button
            matButton="tonal"
            appConfirm
            message="确定要批量删除选中的品牌吗?"
            type="button"
            [disabled]="selection.isEmpty()"
            (confirmed)="deleteSelected()"
        >
            批量删除
        </button>
        <button matButton="filled" type="button" (click)="openDialog()">新增</button>
    </div>
</div>
<div class="table-and-paginator-container">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table" aria-label="brands">
            <ng-container matColumnDef="select">
                <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox
                        (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && !isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                    />
                </th>
                <td *matCellDef="let row" mat-cell>
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                    />
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef="let row" mat-header-cell>品牌</th>
                <td *matCellDef="let row" mat-cell>
                    {{ row.name }}
                </td>
            </ng-container>

            <!-- mediaPath  -->
            <ng-container matColumnDef="mediaPath">
                <th *matHeaderCellDef mat-header-cell>图片</th>
                <td *matCellDef="let row" mat-cell class="table__cell--image">
                    <div class="thumbnail">
                        @if (row.mediaPath) {
                            <img [ngSrc]="row.mediaPath" fill class="thumbnail__img" alt="collection image" />
                        }
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef="let row" mat-header-cell>操作</th>
                <td *matCellDef="let row" mat-cell>
                    <button mat-icon-button type="button" (click)="openDialog(row.id)">
                        <mat-icon>edite</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        appConfirm
                        message="确定要删除该品牌吗?"
                        type="button"
                        (confirmed)="delete(row.id)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
            <tr *matNoDataRow>
                <td>暂无数据</td>
            </tr>
        </table>
    </div>
    <mat-divider />
    <mat-paginator
        #paginator
        (page)="onPageEvent($event)"
        [pageIndex]="paginatorProps().pageIndex"
        [pageSize]="paginatorProps().pageSize"
        [length]="totalElements()"
        aria-label="Select page"
    />
</div>
