.card {
    background-color: var(--mat-sys-surface);
    border-radius: var(--mat-sys-corner-large);
    padding: 24px;

    &__header {
        width: 100%;
        display: flex;
        align-items: baseline;

        &--column {
            flex-direction: column;
        }
    }

    &__content {
    }

    &__footer {
    }
}
