// box-sizing reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
