<a
    mat-list-item
    #rla="routerLinkActive"
    [appSkipNavigation]="item().isVirtual"
    (skipNavigationClick)="toggleNestedMenu()"
    [routerLink]="item().path ?? null"
    [routerLinkActiveOptions]="{ exact: false }"
    [activated]="rla.isActive"
    routerLinkActive="selected-menu-item"
    class="menu-item"
    [style.--mat-list-list-item-leading-icon-start-space.px]="isCollapsed() ? 24 : depth() * 24"
>
    <mat-icon
        matListItemIcon
        [style.color]="rla.isActive ? 'var(--mat-sys-primary)' : ''"
        [class.filled-icon]="rla.isActive"
    >
        {{ item().icon }}
    </mat-icon>

    @if (!isCollapsed()) {
        <span matListItemTitle>{{ item().label }}</span>
    }

    @if (item().children) {
        <span matListItemMeta>
            <mat-icon [style.transform]="nestedMenuOpened() ? 'rotate(90deg)' : ''">keyboard_arrow_right</mat-icon>
        </span>
    }
</a>

@if (item().children && nestedMenuOpened()) {
    @for (subItem of item().children; track subItem) {
        <app-side-menu-item [currentRoutePath]="currentRoutePath()" [item]="subItem" [depth]="depth() + 1" />
    }
}
