:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-card {
        width: 100%;
        max-width: 380px;
        &__header {
            padding-bottom: 16px;
        }
    }

    .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__footer {
            display: flex;
            justify-content: space-between;
        }

        &__submit-btn {
            width: 100%;
        }
    }
}
