<div class="container">
    <h2>To do</h2>

    <div
        #todoList="cdkDropList"
        cdkDropList
        class="list"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="doneList"
        (cdkDropListDropped)="drop($event)"
    >
        @for (item of todo; track item) {
            <div class="list-item" cdkDrag>{{ item }}</div>
        }
    </div>
</div>

<div class="container">
    <h2>Done</h2>

    <div
        #doneList="cdkDropList"
        cdkDropList
        class="list"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="todoList"
        (cdkDropListDropped)="drop($event)"
    >
        @for (item of done; track item) {
            <div class="list-item" cdkDrag>{{ item }}</div>
        }
    </div>
</div>
