<form [formGroup]="productForm" novalidate class="flex flex-col gap-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>基本信息</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex gap-2 pt-4">
                <div class="flex flex-8 flex-col gap-2">
                    <div class="mb-4 rounded-xs border border-dashed">
                        <sa-upload [(fileList)]="imageList" [multiple]="true" [maxFiles]="6" uploadType="drag-drop" />
                    </div>

                    <mat-form-field>
                        <mat-label>标题</mat-label>
                        <input matInput type="text" formControlName="name" placeholder="请输入商品标题" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>副标题</mat-label>
                        <input matInput type="text" formControlName="caption" placeholder="请输入商品副标题" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>摘要</mat-label>
                        <input matInput type="text" formControlName="summary" placeholder="请输入商品摘要" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>分类</mat-label>
                        <input matInput type="text" formControlName="categoryId" placeholder="请选择商品分类" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>品牌</mat-label>
                        <mat-select formControlName="brandId" placeholder="请选择品牌" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>销售分组</mat-label>
                        <mat-select formControlName="collectionIds" placeholder="请选择销售分组" />
                    </mat-form-field>
                </div>
                <div class="flex-4">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                    <ngx-editor
                        [editor]="editor"
                        formControlName="mobileDescription"
                        placeholder="请输入商品详情描述"
                        class=""
                    ></ngx-editor>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>价格与库存</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex flex-col gap-2 pt-4">
                <mat-button-toggle-group
                    [value]="variantMode()"
                    (change)="variantMode.set($event.value)"
                    aria-label="variant mode"
                    class="self-start"
                >
                    <mat-button-toggle matTooltip="适合无规格商品，仅一个SKU" value="single">
                        单规格
                        <!--<mat-icon>radio_button_checked</mat-icon>-->
                    </mat-button-toggle>
                    <mat-button-toggle matTooltip="适合有颜色/尺码等规格的商品" value="multiple">
                        多规格
                        <!--<mat-icon>grid_view</mat-icon>-->
                    </mat-button-toggle>
                </mat-button-toggle-group>
                @if (variantMode() === 'single') {
                    <div [formGroup]="variants.at(0)" class="flex flex-col py-4">
                        <mat-form-field>
                            <mat-label>市场价</mat-label>
                            <input matInput [saDecimalPlaces]="2" type="text" formControlName="msrp" />
                            <mat-icon matSuffix>currency_yen</mat-icon>
                            @if (variants.at(0).controls.msrp.hasError('pattern')) {
                                <mat-error>请输入有效的数字</mat-error>
                            }
                            @if (variants.at(0).controls.msrp.hasError('min')) {
                                <mat-error>不能为小于0</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>销售价</mat-label>
                            <input matInput [saDecimalPlaces]="2" type="text" formControlName="price" />
                            <mat-icon matSuffix>currency_yen</mat-icon>
                            @if (variants.at(0).controls.price.hasError('required')) {
                                <mat-error>不可以为空</mat-error>
                            }
                            @if (variants.at(0).controls.price.hasError('pattern')) {
                                <mat-error>请输入有效的数字</mat-error>
                            }
                            @if (variants.at(0).controls.price.hasError('min')) {
                                <mat-error>不能为小于0</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>折扣价</mat-label>
                            <input matInput [saDecimalPlaces]="2" type="text" formControlName="rollbackPrice" />
                            <mat-icon matSuffix>currency_yen</mat-icon>
                            @if (variants.at(0).controls.rollbackPrice.hasError('pattern')) {
                                <mat-error>请输入有效的数字</mat-error>
                            }
                            @if (variants.at(0).controls.rollbackPrice.hasError('min')) {
                                <mat-error>不能为小于0</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>成本</mat-label>
                            <input matInput [saDecimalPlaces]="2" type="text" formControlName="cost" />
                            <mat-icon matSuffix>currency_yen</mat-icon>
                            @if (variants.at(0).controls.cost.hasError('pattern')) {
                                <mat-error>请输入有效的数字</mat-error>
                            }
                            @if (variants.at(0).controls.cost.hasError('min')) {
                                <mat-error>不能为小于0</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>可用库存</mat-label>
                            <input matInput [saDecimalPlaces]="0" type="text" formControlName="availableQty" />
                            <mat-icon matSuffix>inventory</mat-icon>
                            @if (variants.at(0).controls.availableQty.hasError('pattern')) {
                                <mat-error>请输入有效的数字</mat-error>
                            }
                            @if (variants.at(0).controls.availableQty.hasError('min')) {
                                <mat-error>不能为小于0</mat-error>
                            }
                        </mat-form-field>
                    </div>
                }
                @if (variantMode() === 'multiple') {
                    <!-- 规格设置区 -->
                    <mat-expansion-panel formArrayName="variantOptions">
                        <mat-expansion-panel-header>
                            <mat-panel-title>规格设置</mat-panel-title>
                        </mat-expansion-panel-header>
                        @for (variantOption of variantOptions.controls; track $index; let variantOptionIdx = $index) {
                            <div [formGroupName]="variantOptionIdx" class="flex w-full gap-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>规格名</mat-label>
                                    <input matInput formControlName="name" />
                                </mat-form-field>

                                <mat-form-field class="w-full">
                                    <mat-label>规格选项</mat-label>
                                    <mat-chip-grid #chipGrid aria-label="Enter variant option values">
                                        @for (
                                            optionValue of variantOption.controls.values.value;
                                            track $index;
                                            let optionValueIdx = $index
                                        ) {
                                            <mat-chip-row
                                                (removed)="
                                                    removeOptionValue(variantOptionIdx, optionValueIdx, optionValue)
                                                "
                                                [editable]="true"
                                                (edited)="editOptionValue(variantOptionIdx, optionValueIdx, $event)"
                                                [aria-description]="'press enter to edit ' + optionValue"
                                            >
                                                <button
                                                    matChipEdit
                                                    type="button"
                                                    [attr.aria-label]="'edit ' + optionValue"
                                                >
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                {{ optionValue }}
                                                <button
                                                    matChipRemove
                                                    type="button"
                                                    [attr.aria-label]="'remove ' + optionValue"
                                                >
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip-row>
                                        }
                                        <input
                                            placeholder="添加选项..."
                                            [matChipInputFor]="chipGrid"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="addOptionValue(variantOptionIdx, $event)"
                                        />
                                    </mat-chip-grid>
                                </mat-form-field>
                            </div>
                        }
                        <button matButton="outlined" type="button" (click)="addVariantOption()">
                            <mat-icon>add</mat-icon>
                            添加规格
                        </button>
                    </mat-expansion-panel>

                    <!-- SKU 表格 -->
                    <div class="w-full overflow-auto">
                        <table
                            mat-table
                            [dataSource]="variants.controls"
                            formArrayName="variants"
                            class="mat-elevation-z2 full-width"
                        >
                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef>图片</th>
                                <td
                                    mat-cell
                                    *matCellDef="let variant; let i = index"
                                    (click)="openImageSelectorDialog(variant)"
                                >
                                    <div class="relative h-8 w-8">
                                        @if (variant.value.mainImagePath) {
                                            <img [ngSrc]="variant.value.mainImagePath!" fill alt="image preview" />
                                        } @else {
                                            <div
                                                class="bg-mat-surface-container-low flex flex-col items-center justify-center rounded-xs border border-dashed"
                                            >
                                                <mat-icon>add</mat-icon>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>SKU</th>
                                <td mat-cell *matCellDef="let variant; let i = index">
                                    {{ buildVariantName(variant) }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="msrp">
                                <th mat-header-cell *matHeaderCellDef>市场价</th>
                                <td mat-cell *matCellDef="let variant; let i = index" [formGroupName]="i">
                                    <input matInput [saDecimalPlaces]="2" type="text" formControlName="msrp" />
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>销售价</th>
                                <td mat-cell *matCellDef="let variant; let i = index" [formGroupName]="i">
                                    <input matInput [saDecimalPlaces]="2" type="text" formControlName="price" />
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rollbackPrice">
                                <th mat-header-cell *matHeaderCellDef>折扣价</th>
                                <td mat-cell *matCellDef="let variant; let i = index" [formGroupName]="i">
                                    <input matInput [saDecimalPlaces]="2" type="text" formControlName="rollbackPrice" />
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="cost">
                                <th mat-header-cell *matHeaderCellDef>成本价</th>
                                <td mat-cell *matCellDef="let variant; let i = index" [formGroupName]="i">
                                    <input matInput [saDecimalPlaces]="2" type="text" formControlName="cost" />
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="availableQty">
                                <th mat-header-cell *matHeaderCellDef>库存</th>
                                <td mat-cell *matCellDef="let variant; let i = index" [formGroupName]="i">
                                    <input matInput [saDecimalPlaces]="0" type="text" formControlName="availableQty" />
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                    <!-- 批量操作 -->
                    <div class="flex gap-2">
                        <button matButton="outlined" type="button" (click)="batchSetPrice()">批量设置价格</button>
                        <button matButton="outlined" type="button">批量设置库存</button>
                    </div>
                }
            </div>
        </mat-card-content>
    </mat-card>

    <div class="flex w-full justify-center gap-2">
        <button matButton="filled" type="button" (click)="save()">保存</button>
        <button matButton="tonal" type="button">取消</button>
        <button matButton="outlined" type="button">重置</button>
    </div>
</form>
