<div class="flex gap-2">
    @for (file of fileList(); track $index) {
        <sa-file-preview [file]="file" [fileIndex]="$index" (removeFile)="onRemoveFile($event)" />
    }

    @if (!maxFiles() || fileList().length < maxFiles()!) {
        <div saFileSelect [multiple]="true" (selected)="onSelected($event)">
            <ng-content>
                <div
                    class="bg-mat-surface-container-low flex h-24 w-24 items-center justify-center rounded-sm border border-solid"
                >
                    <mat-icon>add</mat-icon>
                </div>
                <!--<div class="flex flex-col items-center justify-center gap-4 mb-4">
                    <p>
                        <mat-icon style="font-size: 48px; width: 48px; height: 48px;">{{ icon() }}</mat-icon>
                    </p>
                    <p class="text-sm">点击或者拖动文件到该区域来上传</p>
                    <p class="text-xs text-mat-secondary">请不要上传敏感数据，比如你的银行卡号和密码，信用卡号有效期和安全码</p>
                </div>-->
            </ng-content>
        </div>
    }
</div>
