@if (uploadType() === 'list-card') {
    <div class="list-card-container">
        @for (file of fileList(); track $index) {
            <app-file-preview
                [file]="file"
                [fileIndex]="$index"
                (remove)="onRemove($event)"
                [style]="`width:${previewWidth()};height:${previewHeight()}`"
            />
        }

        @if (!maxFiles() || fileList().length < maxFiles()!) {
            <div
                appFileSelect
                [disabled]="uploadType() !== 'list-card'"
                [multiple]="multiple()"
                (selected)="onSelected($event)"
                class="list-card-select-area"
            >
                <ng-content>
                    <div
                        class="list-card-select-area__content"
                        [style]="`width:${previewWidth()};height:${previewHeight()}`"
                    >
                        <mat-icon>{{ listCardIcon() }}</mat-icon>
                        @if (listCardText()) {
                            <p class="list-card-select-area__description">{{ listCardText() }}</p>
                        }
                    </div>
                </ng-content>
            </div>
        }
    </div>
} @else if (uploadType() === 'drag-drop') {
    <div appFileSelect [multiple]="multiple()" (selected)="onSelected($event)" class="drag-drop-container">
        @for (file of fileList(); track $index) {
            @if (multiple()) {
                <app-file-preview
                    [file]="file"
                    [fileIndex]="$index"
                    (remove)="onRemove($event)"
                    [style]="`width:${previewWidth()};height:${previewHeight()}`"
                />
            } @else {
                <app-file-preview
                    [file]="file"
                    [fileIndex]="$index"
                    (remove)="onRemove($event)"
                    [style]="`width:${previewWidth()};height:${previewHeight()}`"
                />
            }
        }

        @if (fileList().length < 1) {
            <ng-content>
                <div class="drag-drop-select-area">
                    <p>
                        <mat-icon style="font-size: 48px; width: 48px; height: 48px">cloud_upload</mat-icon>
                    </p>
                    <p class="drag-drop-select-area__description">点击或者拖动文件到该区域来上传</p>
                    <!--<p class="text-xs text-mat-secondary">请不要上传敏感数据，比如你的银行卡号和密码，信用卡号有效期和安全码</p>-->
                </div>
            </ng-content>
        }
    </div>
}
