@if (uploadType() === 'list-card') {
    <div class="flex h-full w-full flex-wrap items-center gap-2">
        @for (file of fileList(); track $index) {
            <sa-file-preview
                [file]="file"
                [fileIndex]="$index"
                (remove)="onRemove($event)"
                [style]="`width:${previewWidth()};height:${previewHeight()}`"
            />
        }

        @if (!maxFiles() || fileList().length < maxFiles()!) {
            <div
                saFileSelect
                [disabled]="uploadType() !== 'list-card'"
                [multiple]="multiple()"
                (selected)="onSelected($event)"
            >
                <ng-content>
                    <div
                        class="bg-mat-surface-container-low flex flex-col items-center justify-center rounded-xs border border-dashed"
                        [style]="`width:${previewWidth()};height:${previewHeight()}`"
                    >
                        <mat-icon>{{ listCardIcon() }}</mat-icon>
                        <p class="text-xs">{{ listCardText() }}</p>
                    </div>
                </ng-content>
            </div>
        }
    </div>
} @else if (uploadType() === 'drag-drop') {
    <div
        saFileSelect
        [multiple]="multiple()"
        (selected)="onSelected($event)"
        class="flex h-full w-full flex-wrap items-center gap-2"
    >
        @for (file of fileList(); track $index) {
            <sa-file-preview
                [file]="file"
                [fileIndex]="$index"
                (remove)="onRemove($event)"
                [style]="`width:${previewWidth()};height:${previewHeight()}`"
            />
        }

        @if (fileList().length < 1) {
            <ng-content>
                <div class="mb-4 flex w-full flex-col items-center justify-center gap-4">
                    <p>
                        <mat-icon style="font-size: 48px; width: 48px; height: 48px">cloud_upload</mat-icon>
                    </p>
                    <p class="text-xs">点击或者拖动文件到该区域来上传</p>
                    <!--<p class="text-xs text-mat-secondary">请不要上传敏感数据，比如你的银行卡号和密码，信用卡号有效期和安全码</p>-->
                </div>
            </ng-content>
        }
    </div>
}
