/* file-upload.component.css */
.list-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    .list-card-select-area {
        border-radius: var(--mat-sys-corner-extra-small);
        border: 1px dashed;
        transition: box-shadow 150ms ease;
        overflow: hidden;
        &:hover {
            box-shadow: 0 0 0 2px var(--mat-sys-primary);
        }

        &__content {
            background-color: var(--mat-sys-surface-container-low);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__description {
            font-size: var(--mat-sys-body-small);
        }
    }
}

.drag-drop-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    border-radius: var(--mat-sys-corner-medium);
    transition: box-shadow 150ms ease;
    &:hover {
        box-shadow: 0 0 0 2px var(--mat-sys-primary);
    }

    .drag-drop-select-area {
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        &__description {
            font-size: var(--mat-sys-body-small);
        }
    }
}

mat-progress-bar {
    margin-bottom: 8px;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons button {
    margin-left: 8px;
}
