.layout {
    height: 100%;

    &__container {
        --mat-sidenav-content-background-color: transparent;
        height: 100vh;
    }

    &__sidebar {
        --mat-sidenav-container-background-color: var(--mat-sys-surface);
        border-right: 1px solid var(--surface-1);
        box-shadow: var(--shadow-2);
    }

    &__header {
        --mat-toolbar-container-background-color: transparent;
        backdrop-filter: blur(20px) saturate(180%);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        display: block;
        position: sticky;
        top: 0;
        z-index: var(--layer-important);
    }

    &__main {
        height: 100%;
        overflow: hidden;
        .page-wrapper {
            height: 100%;
            position: relative;
            padding: var(--size-3);
            overflow: auto;
        }
    }
}
