:host {
    .container {
        height: 100vh;

        .sidenav {
        }

        .header {
            position: sticky;
            top: 0;
            z-index: 9;
        }

        .content {
            height: 100%;
            position: relative;
            padding: 30px;
            border-radius: 20px;
            background-color: var(--mat-sys-surface-container-low);
            margin: 0 auto;
        }
    }
}
