<mat-sidenav-container class="container" autosize autofocus>
    <mat-sidenav
        #sidenav
        opened
        mode="side"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        class="sidenav"
        [style.width.px]="width()"
    >
        <app-sidebar />
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header (toggleMenuBtn)="sidenav.toggle()" class="header" />
        <main class="content">
            <router-outlet />
        </main>
        <!-- app-footer -->
    </mat-sidenav-content>
</mat-sidenav-container>
