.layout {
    height: 100%;

    &__container {
        --mat-sidenav-content-background-color: transparent;
        height: 100vh;
    }

    &__sidebar {
        box-shadow: var(--shadow-2);
    }

    &__header {
        --mat-toolbar-container-background-color: transparent;
        display: block;
        position: sticky;
        top: 0;
        z-index: var(--layer-important);
        backdrop-filter: blur(20px) saturate(180%);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
    }

    &__main {
        position: relative;
        padding: var(--size-3);
        padding-top: 0;
    }
}
