:host {
    .sidenav-container {
        height: 100vh;

        .main-content {
            height: calc(100vh - 64px);
            position: relative;
            padding: 24px;
            border-radius: var(--mat-sys-corner-large);
            background-color: var(--mat-sys-surface-container-low);
            margin: 0 auto;
        }
    }
}
