@use '@angular/material' as mat;

.product-form-container {
    display: flex;
    gap: var(--size-4);
    height: 100%;

    .product-nav {
        flex: 0 0 220px;
        position: sticky;
        top: 80px;
        height: calc(100vh - 80px);
    }

    .product-main {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;

        .basic {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .description {
            height: 520px;
            width: 375px;
            border-radius: var(--mat-sys-corner-extra-small);
            border: 1px solid var(--mat-sys-outline);
            margin-bottom: 21px;
            overflow: hidden;
            cursor: text;
        }

        .media {
            min-height: 80px;
            width: 100%;
            border-radius: var(--mat-sys-corner-extra-small);
            border: 1px dashed var(--mat-sys-outline);
        }

        .variants {
            --mat-card-elevated-container-color: var(--mat-sys-surface);
            display: flex;
            flex-direction: column;
            gap: var(--size-3);
            padding-top: var(--size-3);

            .variant-mode {
                align-self: flex-start;
            }

            .single-variant {
                display: flex;
                flex-direction: column;
                padding: var(--size-3) 0;
            }

            .variant-option {
                display: flex;
                width: 100%;
                align-items: center;
                gap: var(--size-3);
            }

            .variant-option__values {
                --mat-form-field-container-vertical-padding: 8px;
                flex: 1;
            }

            .variant-option-add-btn {
                @include mat.button-density(-1);
            }

            .variant-table-wrapper {
                border: 1px solid var(--mat-sys-outline);
                border-radius: var(--mat-sys-corner-extra-small);
                margin-top: 16px;
                padding-bottom: 16px;
                overflow-x: auto;

                .variant-table {
                    //width: 100%;
                }

                .thumbnail-wrapper {
                    position: relative;
                    width: 40px;
                    height: 40px;

                    .thumbnail-delete-btn {
                        width: 16px;
                        height: 16px;

                        position: absolute;
                        top: -4px;
                        right: -4px;

                        background-color: var(--mat-sys-secondary-container);
                        //opacity: 1;
                        border-radius: var(--mat-sys-corner-full);
                        border: none;
                        padding: 0;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        cursor: pointer;

                        &__icon {
                            font-size: 16px;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            color: var(--mat-sys-on-secondary-container);
                        }
                    }
                }

                .add-image-icon-wrapper {
                    width: 40px;
                    height: 40px;
                    border: 1px dashed var(--mat-sys-outline);
                    border-radius: var(--mat-sys-corner-extra-small);
                    background-color: var(--mat-sys-surface-container-low);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .batch-actions {
                margin-left: auto;
                display: flex;
                gap: 8px;
            }
        }

        .custom-options {
            padding-top: var(--size-3);
            .custom-options-form {
                display: flex;
                flex-flow: row wrap;
                gap: var(--size-3);
            }
        }

        .footer-actions {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 8px;
        }
    }
}

.small-btn {
    @include mat.button-density(-1);
}
