@use '@angular/material' as mat;

.product-form-container {
    display: flex;
    gap: 32px;
    height: 100%;

    .product-nav {
        flex: 0 0 220px;
        position: sticky;
        top: 80px;
        height: calc(100vh - 80px);
    }

    .product-main {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;

        .basic {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .description {
            height: 520px;
            width: 375px;
            border-radius: var(--mat-sys-corner-extra-small);
            border: 1px solid var(--mat-sys-outline);
            margin-bottom: 21px;
            overflow: hidden;
            cursor: text;
        }

        .media {
            min-height: 80px;
            width: 100%;
            border-radius: var(--mat-sys-corner-extra-small);
            border: 1px dashed var(--mat-sys-outline);
        }

        .variants {
            --mat-card-elevated-container-color: var(--mat-sys-surface);
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-top: 16px;

            .variant-mode {
                align-self: flex-start;
            }

            .single-variant {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 16px 0;
            }

            .variant-option {
                display: flex;
                width: 100%;
                align-items: center;
                gap: 16px;
            }

            .variant-option__values {
                --mat-form-field-container-vertical-padding: 8px;
                flex: 1;
            }

            .variant-option-add-btn {
                @include mat.button-density(-1);
            }

            .batch-actions {
                margin-left: auto;
                display: flex;
                gap: 8px;
            }
        }

        .custom-options {
            width: 100%;
            padding: 16px 0;
        }

        .footer-actions {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 8px;
        }
    }
}

.small-btn {
    @include mat.button-density(-1);
}
