@use '@fontsource-variable/roboto';
@use 'material-symbols';
@use 'styles/reset';
@use 'styles/themes';
@use 'styles/base';
@use 'styles/card';
@use 'styles/table';
@use 'styles/thumbnail';

/* You can add global styles to this file, and also import other style files */

.filled-icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
