@use '@fontsource-variable/roboto';
@use 'material-symbols';
@use '@angular/material' as mat;

// box-sizing reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    // Must specify color-scheme for theme mixin to automatically work
    color-scheme: light dark;
    //color-scheme: light;

    // Create one theme that works automatically for light and dark theme
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );

    height: 100%;
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    .dark-mode {
        color-scheme: dark;
    }

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;

    height: 100%;
}

/* You can add global styles to this file, and also import other style files */

.filled-icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
