.file-preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--mat-sys-corner-extra-small);

    &:hover {
        box-shadow: 0 0 0 2px var(--mat-sys-primary);

        .preview-overlay {
            opacity: 1;
        }
    }

    .preview-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preview-overlay {
        --mat-icon-color: var(--mat-sys-surface);
        background-color: var(--mat-sys-surface-container-highest);
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 300ms ease;

        .progress-info {
            bottom: 0.5rem;
        }
    }
}
