<div class="group relative h-full w-full overflow-hidden rounded-sm border-1 border-solid">
    @if (file()) {
        <div class="flex h-24 w-20 items-center justify-center">
            @if (isImage()) {
                <!-- 配置可传入 with 和 height -->
                @if (file()?.path) {
                    <img [ngSrc]="file()!.path!" alt="image" fill />
                } @else {
                    <mat-icon>image</mat-icon>
                }
            } @else {
                <mat-icon>draft</mat-icon>
            }
        </div>
        <div
            class="upload-overlay bg-mat-on-surface/50 absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        >
            @switch (file()?.status) {
                @case ('UPLOADING') {
                    <button matIconButton type="button" (click)="removeFile.emit(fileIndex())">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-progress-bar mode="determinate" [value]="file()?.percentage" class="!absolute bottom-0.5" />
                }
                @case ('SUCCESS') {
                    @if (isImage()) {
                        <button matIconButton type="button" (click)="removeFile.emit(fileIndex())">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    }
                    <button matIconButton type="button" (click)="removeFile.emit(fileIndex())">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                }
                @case ('ERROR') {
                    <button matIconButton type="button" (click)="removeFile.emit(fileIndex())">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button matIconButton type="button" (click)="removeFile.emit(fileIndex())">
                        <mat-icon>refresh</mat-icon>
                    </button>
                }
            }
        </div>
    }
</div>
